

.homeImg {
    background-image: url(../../assets/Images/landingpic.png);
    background-size: cover; 
    background-position: center;
    height:900px;
    padding-top: 108px;
}
.homeBtn {
    padding:8px;
    border:none;
    color:white;
    border-radius:30px;
    font-size:40px;
    background-color:var(--main-color);
    padding-inline: 30px;
}
.homeInfo{
    text-transform: capitalize;
    text-align: justify;
    background-color: var(--light-color);
    font-size: 50px;
    color: var(--main-color);
    font-weight: 800;
    margin: auto;
    padding-inline: 50px;
    padding-block: 80px;
}

.secHomeImg {

    height: 500px;
    background-image: url(../../assets/Images/seclandingpic.png);
    background-size: cover; 
    background-position: center;
}

/*  media query*/
@media (max-width: 1108px) {
    .homeImg  div {
        font-size: 80px !important;
    }
  }
@media (max-width: 1200px) {
    .secHomeImg  ul {
        font-size: 38px !important;
    }
  }
@media (max-width: 983px) {
    .homeImg  div {
        font-size: 60px !important;
    }
    .secHomeImg  ul {
        font-size: 30px !important;
    }
  }
@media (max-width: 992px) {
    
    .secHomeImg  ul {
        font-size: 30px !important;
    }
  }
@media (max-width: 731px) {
    .homeImg div {
        font-size: 50px !important;
    }
    .homeImg p {
        font-size: 24px !important;
    }
    .homeImg a {
        font-size: 30px !important;
    }
    .homeInfo{
        font-size: 35px;
    }
    .secHomeImg  ul {
        font-size: 20px !important;
    }
  }
@media (max-width: 580px) {
    .homeImg div {
        font-size: 40px !important;
    }
    .homeImg p {
        font-size: 20px !important;
        line-height: 40px;
    }
    .homeImg a {
        font-size: 25px !important;
    }
    .homeInfo{
        font-size: 25px;
    }
  }